/* 
    General Styles
*/
.bg-dark {
    background-color: #000000!important;
}
.main-div{
    background-image: url('https://cdn.wallpapersafari.com/1/97/co341S.jpg');
}

.main-page{
    font-size: 30px;
    margin-right: 10;
}

.gender {
    font-size: 30px;
    margin-left: 30px;
}
.height{
    font-size: 30px;
}
.eye-color{
    font-size: 30px;
}